.account {
  cursor: pointer;
  .btn-group {
    @include flex(center, row);
  }
  .user {
    position: relative;
    border: 3px solid white;
    border-radius: 100%;
    padding: 0.5 * $base-size;
    img {
      width: 2vw;
    }
    .badge {
      @include centerContent($base-size * 1.5);
      position: absolute;
      bottom: 0;
      right: -10%;
      @include size($base-size * 1.5);
      background: $accent-color;
      border-radius: 50%;
    }
  }
}
