.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $obsidian-layer;
  background: $background-color;
  padding: 3vh 7vw;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  @include size(100vw, auto);
  @include flex(space-between, row);
  &.hide {
    transform: translateY(-15vh);
  }
  &.ontop {
    background: transparent;
    padding: 5vh 7vw;
    box-shadow: none;
  }
  .left-side {
    @include flex(start, row);
  }
  .logo {
    margin-left: 3vw;
    cursor: pointer;
    text-align: left;
    transition: all 300ms ease;
    img {
      width: 5vw;
    }
  }
}
