.ontop-btn {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    @include size($base-size * 3);
    @include flex();
    border-radius: 100%;
    background: $accent-color;
    transform: scale(0);
    transition: transform 0.2s ease;
    box-shadow: 2px 4px 10px 0 rgba($color: #000000, $alpha: 0.25);
    &.show {
        transform: scale(1);
    }
    img {
        width: 2vw;
    }
}
