.title {
    @include centerContainer(0);
    margin-top: 10vh;
    font-size: $base-size * 4;
    text-transform: uppercase;
    &::after {
        content: "";
        display: block;
        width: 60%;
        height: 5px;
        background: white;
        margin: 0 auto;
        margin-top: 2vh;
        border-radius: $base-size * 0.5;
    }
}
