//Declare var
// ====== Color ============

$accent-color: #f05454;
$sub-color: #e8e8e8;
$background-color: #222831;
$subback-color: #30475e;

// ====== Break Point ============
$break-point: 768px;

// ====== Size ============

$base-size: 1.2rem;

// ====== Layer ============
$wood-layer: 1;
$stone-layer: 2;
$iron-layer: 3;
$gold-layer: 4;
$diamond-layer: 5;
$obsidian-layer: 6;
$bedrock-layer: 7;

//Color
$red: $accent-color;
$black: $background-color;
$green: #00b894;
$blue: #0984e3;
